        <hr>
        <footer>
            &copy; 2025 Um <br>
            California State University
            Monterey Bay
        </footer>

        <!-- linked scripts.js for bootstrap -->
        <script src = "/scripts.js"></script> 
    </body>
</html>